## <p style="text-align: right;"> &#9989; Lee Chungmin</p>

# CMSE 202 Midterm (Section 003 - Spring 2024)

The goal of this midterm is to give you the opportunity to test out some of the skills that you've developed thus far this semester. In particular, you'll practice setting up a GitHub repository, committing and pushing repository changes, downloading data with command line tools, performing some data analysis, possibly using a new Python package, and writing a python class. You should find that you have all of the skills necessary to complete this exam with even just eight weeks of CMSE 202 under your belt!

You are encouraged to look through the entire exam before you get started so that you can appropriately budget your time and understand the broad goals of the exam. Once you've read through it, try doing Parts 0 and 1 first so that you have your repository set up and you download all necessary data files as they will be necessary to complete the assigned tasks. Let your instructor know right away if you have problems downloading the data!

**The exam is set up so that even if you get stuck on one part there are opportunities to get points on the other parts, so consider jumping ahead if you feel like you aren't making progress and then come back later if you have time.**

**Important note about using online resources**: This exam is "open internet". That means that you can look up documentation, google how to accomplish certain Python tasks, etc. Being able to effectively use the internet for computational modeling and data science is a very important skill, so we want to make sure you have the opportunity to exercise that skill. **However**: The use of any person-to-person communication software is absolutely not acceptable. If you are seen accessing your email, using a chat program (e.g. Slack), **or AI tools like ChatGPT** or any sort of collaborative cloud storage or document software (e.g. Google Documents), you will be at risk for receiving a zero on the exam and the course.

**Keep your eyes on your screen!** Unfortunately, there isn't enough space in the room for everyone to sit at their own table so please do your best to keep your eyes on your own screen. This exam is designed to give *you* the opportunity to show the instructor what you can do and you should hold yourself accountable for maintaining a high level of academic integrity. If any of the instructors observe suspicious behavior, you will, again, risk receiving a zero in the course.

There are **65 points** possible on this exam. The point breakdowns are in the section headers and within each question.

---
## Part 0: Academic integrity statement  (3 points)

Read the following statement and edit the markdown text to put your name in the statement. This is your commitment to doing your own authentic work on this exam.

> I, **Lee, Chungmin**, affirm that this exam represents my own authetic work, without the use of any unpermitted aids or resources or person-to-person communication. I understand that this exam an an opportunity to showcase my own progress in developing and improving my computational skills and have done my best to demonstrate those skills. I understand that if I break exam policy, I can get 0 points in the exam and course and will be reported to MSU.

---
## Part 1 (6 points): Add to your Git repository to track your progress on your exam

Before you get to far along in the exam, you're going to add it to the `cmse202-s24-turnin` repository you created in class (or in Homework 1) so that you can track your progress on the exam and preserve the final version that you turn in. In order to do this you need to

**&#9989; Do the following**:

1. Navigate to your `cmse202-s24-turnin` repository and create a new directory called `midterm`.
2. Move this notebook into that **new directory** in your repository, then **add it and commit it to your repository**.
3. Finally, to test that everything is working, "git push" the file so that it ends up in your GitHub repository.

**Important**: Double check you've added your Professor and your TA as collaborators to your "turnin" respository (you should have done this in your homework assignment).

**Also important**: Make sure that the version of this notebook that you are working on is the same one that you just added to your repository! If you are working on a different copy of the notebook, **none of your changes will be tracked**!

If everything went as intended, the file should now show up on your GitHub account in the "`cmse202-s24-turnin`" repository inside the `midterm` directory that you just created.  Periodically, **you'll be asked to commit your changes to the repository and push them to the remote GitHub location**. Of course, you can always commit your changes more often than that, if you wish.  It can be good to get into a habit of committing your changes any time you make a significant modification.

&#9989; **Do this**: Before you move on, put the command that your instructor should run to clone your repository in the markdown cell below. **(3 points)**

``` bash
# Put the command for cloning your repository here!

git clone https://github.com/Chungminlee08/cmse202-s24-turnin
cd CMSE202
cd cmse202-s24-turnin
mkdir midterm
git status
git add CMSE202-Midterm-Section003-STUDENT.ipynb
git commit -m "Added notebook to hw-01 folder"
git push origin main
```

&#9989; **Do this**: Also list all Git or terminal commands you used for the steps above below.  **(3 points)**

``` bash
# List all commands you used here.

git clone https://github.com/Chungminlee08/cmse202-s24-turnin
cd CMSE202
cd cmse202-s24-turnin
mkdir midterm
git status
git add CMSE202-Midterm-Section003-STUDENT.ipynb
git commit -m "Added notebook to hw-01 folder"
git push origin main
```

---
## Part 2: Downloading and analyzing unfamiliar data (20 points)

In this part of the exam, you will load and visualize a dataset that you probably have not used before. In particular, you will be working with data from the world happiness report 2023. Some information about the dataset can be found here https://www.kaggle.com/datasets/ajaypalsinghlo/world-happiness-report-2023?select=WHR2023.csv.

To get started, you will need to download the file - `WHR2023.csv`. Since it might be annoying to download the `WHR2023.csv` file from Kaggle, I have provided the following direct link to this file:
* `https://raw.githubusercontent.com/ravisha3/CMSE202Spring2024Section3Midterm/main/WHR2023.csv`

The file is also on D2L.

&#9989; **Question 2.1 (1 point)**: **Do this now:** Save the file in the same directory as your notebook so you can load it directly. **Then, in the cell below, put the command line command(s) you used to download the file.** If you did not use a command line tool to download the file, write down the command(s) that *would* have downloaded the file.

``` bash
! curl -O https://raw.githubusercontent.com/ravisha3/CMSE202Spring2024Section3Midterm/main/WHR2023.csv
```

&#9989; **Question 2.2 (2 points)**: Read in the `WHR2023.csv` dataset into a `Pandas` `DataFrame` and then display only the last 12 rows.

In [1]:
# Put your code for Question 2.2 here

! curl -O https://raw.githubusercontent.com/ravisha3/CMSE202Spring2024Section3Midterm/main/WHR2023.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 16774  100 16774    0     0   187k      0 --:--:-- --:--:-- --:--:--  188k

In [6]:
import pandas as pd
df = pd.read_csv('WHR2023.csv')
df.tail(12)

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
125,India,4.036,0.029,4.092,3.980,8.759,0.608,60.777,0.897,0.072,0.774,1.778,1.159,0.674,0.252,0.685,0.175,0.111,0.979
126,Madagascar,4.019,0.092,4.199,3.839,7.290,0.650,58.050,0.522,0.075,0.742,1.778,0.632,0.779,0.178,0.187,0.177,0.134,1.932
127,Zambia,3.982,0.094,4.167,3.797,8.074,0.694,55.032,0.791,0.098,0.818,1.778,0.914,0.890,0.095,0.545,0.189,0.080,1.270
128,Tanzania,3.694,0.075,3.840,3.547,7.857,0.653,59.401,0.838,0.182,0.554,1.778,0.836,0.787,0.214,0.607,0.234,0.269,0.747
129,Comoros,3.545,0.117,3.774,3.317,8.075,0.471,59.425,0.470,-0.014,0.727,1.778,0.914,0.327,0.215,0.117,0.129,0.145,1.699
130,Malawi,3.495,0.090,3.671,3.320,7.302,0.531,58.475,0.750,0.005,0.749,1.778,0.637,0.479,0.189,0.490,0.139,0.129,1.432
131,Botswana,3.435,0.136,3.702,3.168,9.629,0.753,54.725,0.742,-0.215,0.830,1.778,1.471,1.041,0.087,0.480,0.021,0.071,0.264
132,Congo (Kinshasa),3.207,0.095,3.394,3.020,7.007,0.652,55.375,0.664,0.086,0.834,1.778,0.531,0.784,0.105,0.375,0.183,0.068,1.162
133,Zimbabwe,3.204,0.061,3.323,3.084,7.641,0.690,54.050,0.654,-0.046,0.766,1.778,0.758,0.881,0.069,0.363,0.112,0.117,0.905
134,Sierra Leone,3.138,0.082,3.299,2.976,7.394,0.555,54.900,0.660,0.105,0.858,1.778,0.670,0.540,0.092,0.371,0.193,0.051,1.221
135,Lebanon,2.392,0.044,2.479,2.305,9.478,0.530,66.149,0.474,-0.141,0.891,1.778,1.417,0.476,0.398,0.123,0.061,0.027,-0.110
136,Afghanistan,1.859,0.033,1.923,1.795,7.324,0.341,54.712,0.382,-0.081,0.847,1.778,0.645,0.000,0.087,0.000,0.093,0.059,0.976

&#9989; **Question 2.3 (8 points total)**: For each of the questions below, write a piece of code to answer. **Note that you must use and show code to figure out the answer to receive the credit.**

&#9989; **Question 2.3.1 (1 point)**: How many countries are in the report?

In [8]:
# Put your code for Question 2.3.1 here
df.count()

#There are total 137 countries

Country name                                  137
Ladder score                                  137
Standard error of ladder score                137
upperwhisker                                  137
lowerwhisker                                  137
Logged GDP per capita                         137
Social support                                137
Healthy life expectancy                       136
Freedom to make life choices                  137
Generosity                                    137
Perceptions of corruption                     137
Ladder score in Dystopia                      137
Explained by: Log GDP per capita              137
Explained by: Social support                  137
Explained by: Healthy life expectancy         136
Explained by: Freedom to make life choices    137
Explained by: Generosity                      137
Explained by: Perceptions of corruption       137
Dystopia + residual                           136
dtype: int64

&#9989; **Question 2.3.2 (1 point)**: How many columns does this dataset have?

In [14]:
# Put your code for Question 2.3.2 here
print('total columns:', len(df.columns))

total columns: 19

&#9989; **Question 2.3.3 (1 point)**: What is the mean value of the `Ladder score` column?

In [17]:
# Put your code for Question 2.3.3 here
print('mean value of the Ladder score:', df['Ladder score'].mean())

mean value of the Ladder score: 5.539795620437956

&#9989; **Question 2.3.4 (2 points)**: What is the maximum `Healthy life expectancy`? What is the country/location that has it? **Hint** `Pandas` has an `idxmax()` method that can help locate the index of the maximum value in a column.

In [34]:
# Put your code for Question 2.3.4 here
print('maximum of the Healthy life expectency:', df.idxmax('Hea'))

&#9989; **Question 2.3.5 (3 points)**: Which countries have `Healthy life expectancy` larger than 73? Based on the code output, which continent are they on?

In [39]:
# Put your code for Question 2.3.5 here

**Reminder**: If you are having trouble with parts of Question 2.3, don't forget that you can use your favorite search engine to lookup how to do certain tasks with a `Pandas` `DataFrame`.

&#9989; **Question 2.4 (3 points)**: Make a scatterplot showing the `Ladder score` on the x-axis and `Freedom to make life choices` on the y-axis. **Make sure to label your axes and give your plot a title.**

In [41]:
# Put your code for Question 2.4 here

&#9989; **Question 2.5 (4 points)**: Make a scatterplot with `Ladder score` on the x-axis and `Healthy life expectancy` on the y-axis. **Again, make sure to label your axes and give your plot a title.** Do you see some relationship/correlation between the variables? Discuss briefly.

In [43]:
# Put your code for Question 2.5 here

**<font size=+3>&#9998;</font> Do This**: **Write your answer to the last question here.**

&#9989; **Question 2.6 (2 points)**: Suppose we wanted to look at the relationships between every pair of numerical features (the relationship being either quantified with numbers/values or visualized), what specific Python/Pandas function(s) could you use to do this efficiently? **No need to code this.**

**<font size=+3>&#9998;</font> Do This**: **Write your answer to Question 2.6 here.**

---
### &#128721; STOP
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit the changes to your Git repository using the commit message "**Committing Part 2**", and push the changes to GitHub.

---

---
## Part 3: Working with a new Python package (18 points)

In this part of the exam, you will install a Python package that you probably have not used before, and use it to perform simple tasks. Specifically, you will use a package called `GeoPy` to perform some tasks. Its a good tool to locate coordinates of addresses, cities, etc. The Github page for the package is https://github.com/geopy/geopy and documentation can be found at https://geopy.readthedocs.io/en/latest/#module-geopy.geocoders.

&#9989; **Question 3.1 (2 points)**: `GeoPy` may not be automatically included in your Python installation. However, you should be able to install the package in the same way we have previously installed Python packages.

**Do this**: Install the `GeoPy` Python package.

What command did you use to install `GeoPy`? **Include this command in the cell below.**

``` bash
# Put the command for installing `GeoPy` here!
!pip install GeoPy
```

Once `Geopy` is installed, running the following cell should not result in an error message. **You might need to re-start your Jupyter kernel after installing the package for this to work.** (Once everything works, it should give you no output at all.)

In [45]:
# Running this cell should just work and not yield any output if GeoPy is installed and available
import geopy

In the following questions, you will use the `GeoPy` package to perform some tasks. **Note that you will only receive points for showing code and using it to get answers. Getting correct answers without appropriate code will not get you points.**

&#9989; **Do this**: We need to first import a geocoder that pertains to a geolocation service such as Google Maps, Bing Maps, or Nominatim. Run the following cell to do this.

In [46]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="http")

&#9989; **Question 3.2 (4 points)**: **Do this**: Use the package to map the query `233 S Wacker Dr Chicago` to a full address and landmark name. Print that out with Python. Also extract and print its latitude and longitude. **Note: You will only get points for this for writing appropriate code not for finding answers others ways.**  **Sometimes packages may produce errors that take time to resolve. If that happens, just focus on inputting the correct code below. Points will be given for appropriate code.**

In [1]:
# Put your code for Question 3.2 here

&#9989; **Question 3.3 (4 points)**: **Do this**: Use the package to find and print the address corresponding to the latitude and longitude (42.7251 N, 84.4791 W). Then use the package to find and print the address for latitude and longitude (48.8584 N, 2.2945 E).  Based on the printed output from code say where/what the second location is. Explain it based on the code output.   **The package may require latitudes and/or longitudes to be input with `+` or `-` sign. Make sure to look at documentation.**

In [2]:
# Put your code for Question 3.3 here

**<font size=+3>&#9998;</font> Do This**: **Answer the last portion of Question 3.3 here.**

&#9989; **Question 3.4 (3 points)**: **Do this**: Now use the package to compute and print the `geodesic` distance between the coordinates (42.7251 N, 84.4791 W) and (48.8584 N, 2.2945 E) in units of kilometers.

In [3]:
# Put your code for Question 3.4 here

&#9989; **Question 3.5 (2 points)**: **Do This**: Use a geopy functionality to convert a distance of 10 miles to kilometers. Print this out. **You will only get points for the appropriate geopy code, not for providing an answer directly otherwise.**

In [4]:
# Put your code for Question 3.5 here

&#9989; **Question 3.6 (3 points)**: **Do This**: In a few sentences, say what you have learned about the `GeoPy` package and its utilities.

**<font size=+3>&#9998;</font> Do This**: **Answer Question 3.6 here.**

---
### &#128721; STOP
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit the changes to your Git repository using the commit message "**Committing Part 3**", and push the changes to GitHub.

---

---
## Part 4: Writing and using Python classes (18 points)

In this part of the exam, you will practice object-oriented programming (OOP). Specifically, you will first test out a `Student` class, which is used to keep track of a student's courses and grades. After verifying  the `Student` class works and adding components to it, you will debug and add to a `Studygroup` class which will keep track of several students in a study group. 

&#9989; **Do This**: To get started, run the code cell below, but **DO NOT modify it.**

In [6]:
### RUN THIS CELL, BUT DO NOT MODIFY IT
### RUN THIS CELL, BUT DO NOT MODIFY IT
class Student:
    '''This is a class used to keep track of courses and grades a student gets.'''
    
    def __init__(self,name):
        '''Create a student with no classes or grades yet'''
        self.name = name   #Student name 
        self.numcourses = 0   #number of courses student has taken
        self.numAs = 0   #number of As so far
        self.numFs = 0   #number of Fs so far
        self.courses = []  #List of all courses the student took.
        self.grades = []  #List of corresponding grades the student got.
        self.Acourses = [] # List of courses the student got A in
        self.Fcourses = [] # List of courses the student failed in
        
    def add_class(self,course="",grade=""):
        ''' Record a course and grade and stats'''
        self.numcourses += 1
        self.courses.append(course)
        self.grades.append(grade)
        if grade == 'A':
            self.Acourses.append(course)
            self.numAs += 1
        if grade == 'F':
            self.Fcourses.append(course)
            self.numFs += 1
        

    def check_Fs(self):
        ''' Check number of Fs'''
        print("number of Fs is", self.numFs)
        if self.numFs > 1:
            print("Watch out!", self.name, "needs to up their game.") 


    def check_As(self):
        ''' Check number of As'''
        print("number of As is", self.numAs)
        if self.numAs > 1:
            print("Hooray", self.name, "is doing well.")
        
    def show_record(self):
        ''' Display the student record'''
        print(self.name, ":", "Courses:", self.courses, "Grades:", self.grades)

        
### RUN THIS CELL, BUT DO NOT MODIFY IT
### RUN THIS CELL, BUT DO NOT MODIFY IT

&#9989; **Question 4.1 [11 points]**: **Do this**: You are given a `Student` class above that helps to track a student's academic progress and records classes a student takes, grades achieved, and if they are Acing classes or failing them. We would like to verify that the class works as intended. Accomplish the following in the cell below. 

1. Add a new method to the class above called `check_coursegrade` that takes a course name as a string argument `course` and prints out the course grade. If the course is not in the student record, it should print out `Student has not taken this course`. Copy the original class into the cell below as is and add the new method below. **(4 points)**
   
2. Create a `Student` object with `name` attribute `Amy` and store it in a variable `Student1`. **(1 point)**

3. Call `Student1`'s `add_class()` method with `CMSE201` and `B` as the `course` and `grade` arguments. Note that the course name and grade should be given as strings.  **(1 point)**

4. Call `Student1`'s `add_class()` method again with `CMSE202` and `A` as the `course` and `grade` arguments, respectively.  **(1 point)**

5. Call `Student1`'s `check_As()` method.  **(1 point)**

6. Call `Student1`'s `check_Fs()` method. **(1 point)**

7. Call `Student1`'s `show_record()` method. **(1 point)**
   
8.  Call the `check_coursegrade` method for the `Student1` object with argument `CMSE202` as a string.  **(1 point)**

If you did the above steps correctly, you should see the following lines printed:

> number of As is 1 \
number of Fs is 0 \
Amy : Courses: ['CMSE201', 'CMSE202'] Grades: ['B', 'A'] \
The grade is A

In [58]:
# Put your code for Question 4.1 here

&#9989; **Question 4.2 [7 points total]**: **Do this**: The cell below has code for a class called `Studygroup` that we intend to use to keep track of students joining an undergraduate study group. **Debug the methods in the `Studygroup` class.** **(6 points for debugging)**


This new `Studygroup` class should do the following:

* The `__init__()` method should create a new `Studygroup` object with a specified `group_name` attribute and another attribute called `students_dict` which is initially an empty Python **dictionary**. This dictionary will be used for storing `Student` objects. The dictionary keys will be strings containing the name attribute of each `Student` object and the dictionary values will be the `Student` objects themselves.

* The `add_student()` method should add a new key:value pair to the `students_dict` dictionary, where the key is the `name` attribute of the new `Student` object and the value is the `Student` object itself.
    
* The `update_student_grade()` method updates the record of a particular student with a new course and corresponding grade. The `name`, `course`, and `grade` arguments are strings with the student name, course, and grade, respectively. This method will access the corresponding student object in the `students_dict` dictionary (using its key) and call the `add_class` method to add the course and grade for the object.

* The `show_grouprecord()` method is intended to print out the record of each student. It
    * prints the `group name attribute` and the string `Group Record`.
    * for each `Student` object in `students_dict`, it calls the `show_record()`, `check_As()`, and `check_Fs()` methods to print the student record.
    
    
**Hint**: A certain word is missing often below. This word is longer than elf. Also check method calls inside the class for any errors.

In [60]:
### Debug the class below.

class Studygroup:
    '''
    This is a class used to keep track of students joining a study group, specifically
    their courses and grades.
    '''
    def __init__(group_name):
        '''Create a new group with specified name, but no students'''
        self.group_name = group_name
        self.students_dict = {}
    
    def add_student(student_obj):
        '''Add a new student object (with its name attribute already set) to the group'''
        self.students_dict[student_obj.name] = student_obj
    
    def update_student_grade(name,course,grade):
        '''Update a particular student's record with a course and grade'''
        self.students_dict[name].add_class()
    
    def show_grouprecord():
        '''Display the record of all students in the group'''
        print(self.group_name,"Group Record")
        for student in self.students_dict.values():
            student.show_record()
            student.check_As()
            student.check_Fs()

&#9989; **Do this**: When you are done editing the `Studygroup` class, run the cell below to test it out, but **DO NOT modify it.**  **(1 point for getting correct output below)**

In [ ]:
### RUN THIS CELL, BUT DO NOT MODIFY IT
### RUN THIS CELL, BUT DO NOT MODIFY IT
# Create some students
Student2 = Student("Annie")
Student3 = Student("David")
Student4 = Student("Soomin")
Student5 = Student("Nick")

# Create a group and add the students to the group
Amazing_group = Studygroup("AmazingGroup")
Amazing_group.add_student(Student2)
Amazing_group.add_student(Student3)
Amazing_group.add_student(Student4)
Amazing_group.add_student(Student5)

# Add some student grades
Amazing_group.update_student_grade("Annie","CMSE201","A")
Amazing_group.update_student_grade("David","CMSE201","B")
Amazing_group.update_student_grade("Soomin","CMSE201","B")
Amazing_group.update_student_grade("Nick","CMSE201","F")

# Display record of students in group.
Amazing_group.show_grouprecord()

### RUN THIS CELL, BUT DO NOT MODIFY IT
### RUN THIS CELL, BUT DO NOT MODIFY IT

If everything worked correctly, you should see an output that looks like this:
> AmazingGroup Group Record \
Annie : Courses: ['CMSE201'] Grades: ['A'] \
number of As is 1 \
number of Fs is 0 \
David : Courses: ['CMSE201'] Grades: ['B'] \
number of As is 0 \
number of Fs is 0 \
Soomin : Courses: ['CMSE201'] Grades: ['B'] \
number of As is 0 \
number of Fs is 0 \
Nick : Courses: ['CMSE201'] Grades: ['F'] \
number of As is 0 \
number of Fs is 1

---
### &#128721; STOP
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit the changes to your Git repository using the commit message "**Committing Part 4**", and push the changes to GitHub.

---

## You're done! Congrats on finishing your CMSE 202 Midterm!

Make sure all of your changes to your repository are committed and pushed to GitHub. Also upload a copy of this notebook to the dropbox in D2L.